.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .app__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    font-size: 2rem;
    color: white;
  }

  .app__container__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }


}




